services:
  db:
    image: postgres:latest
    container_name: postgres
    restart: always
    environment:
      POSTGRES_USER: ${DB_USER}
      POSTGRES_PASSWORD: ${DB_PASSWORD}
      POSTGRES_DB: ${DB_NAME}
    volumes:
      - postgres_data:/var/lib/postgresql

  backend:
    build:
      context: ../top-decked-backend
      dockerfile: docker/Dockerfile
    container_name: topdeck-backend
    restart: always
    env_file:
      - ./.env
    depends_on:
      - db

  frontend:
    build:
      context: ../top-decked-front
      dockerfile: docker/Dockerfile
    container_name: topdeck-frontend
    restart: always
    env_file:
      - ./.env
    depends_on:
      - backend

  nginx:
    build:
      context: ./docker/nginx
    container_name: topdeck-nginx
    restart: always
    ports:
      - "80:80"
    depends_on:
      - frontend
      - backend

volumes:
  postgres_data: